

  .bordure_fine {
  border: 1px grey solid;
  border-radius: 4px;

  padding: 1em;
  margin-bottom: 0.5em;
  }


  .avatar {
/*    height: 10em;
    width: 10em;*/
    border-radius: 50%;
    border:1px #eee solid;
  }


  .fond-blanc {
    background-color: white;
  }
