<h1>Petsitters#edit</h1>
<p>Find me in app/views/petsitters/edit.html.erb</p>


<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>MODIFIER VOTRE ANNONCE :</h2>
      <hr>

    </div>
  </div>
  <%= link_to '<-- Revenir aux annonces', petsitters_path, class: "btn btn-default" %>
</div>


