<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Indiquer votre disponibilité pour la réservation :</h2>
      <hr>
      <%  %>
      <%= simple_form_for [@booking.petsitter, @booking] do |r| %>

        <%= r.input :status, label: false, collection: ['En attente', 'Accepté', 'Refusé'] %>
        <%= r.button :submit, value: 'Modifier la réservation', class: 'btn-success btn-block' %>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to '<-- Revenir à mon tableau de bord', dashboard_path, class: "btn btn-default" %>
</div>

