<div class="banner">
  <div class="banner-content">
    <h2>Trouvez le compagnon idéal pour vos animaux près de chez vous</h2>

  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Votre animal est :" aria-label="Search">
    <input class="form-control mr-sm-2" type="search" placeholder="Code postal" aria-label="Search">
    <%= link_to "Rechercher", petsitters_path, class: " btn btn-primary btn-lg" %>
  </form>


<!--     <a class="btn btn-primary btn-lg">Start now</a> -->
  </div>
</div>
